<a href="https://colab.research.google.com/github/luke-scot/emissions-tracking/blob/main/C_THRU_IHS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import gdown, os
import pyarrow
import pandas as pd

class IHS_data(object):
  def __init__(self) -> None:
      self.folder, self.zip = 'data', 'data.zip'
      if not os.path.exists(self.folder): 
        gdown.download('https://drive.google.com/uc?id=1jrJGRls3YfDNjp6V4ovJtoeX0W0IgmMu', zip ,quiet=True)
        ! unzip $zip -d $folder
        ! rm $zip
      self.products = pd.read_feather('data/products.feather')
      self.materials = pd.read_feather('data/materials.feather')

IHS = IHS_data()

In [11]:
IHS.materials

         Code                  Geography  ... Consumption Unit  Variable Cost
0      1E-981  United States, Gulf Coast  ...             None       1.930000
1      1E-981  United States, Gulf Coast  ...               LB       0.153370
2      1E-981  United States, Gulf Coast  ...              GAL      97.457990
3      1E-981  United States, Gulf Coast  ...               LB     -13.245111
4      1E-981  United States, Gulf Coast  ...               LB      -0.356963
...       ...                        ...  ...              ...            ...
2917  4M-1603            China, Shanghai  ...            TONNE      -1.702168
2918  4M-1603            China, Shanghai  ...            TONNE    -115.750905
2919  4M-1603            China, Shanghai  ...               M3       1.208354
2920  4M-1603            China, Shanghai  ...              KWH       1.185051
2921  4M-1603            China, Shanghai  ...            TONNE       8.609051

[2922 rows x 12 columns]