In [11]:
# Import packages
import pandas as pd
import os
import xml.etree.ElementTree as ET

# Variable definition
lcaDataPath = "C:/Users\lukec\OneDrive - University of Cambridge\Projects\PhD\Data\EcoInvent_B0729/xml"
impactMethods = "C:/Users\lukec\OneDrive - University of Cambridge\Projects\PhD\Data\Impact-Methods\IPCC2013.xml"

In [9]:
# Load in xml data to dataframe
def import_xml_batch(directory,columns,path,attributes):
    """This function imports xml data into a pandas dataframe
    inputs:
    filepath - directory of xml files
    columns - names of columns for dataframe
    attributes - location of column attributes within xml files
    outputs:
    df - dataframe of requested attributes
    Requirements: os, pandas as pd, xml.etree.ElementTree as ET"""
    file_list = os.listdir(directory)
    df = pd.DataFrame([],columns=columns)
    for file in file_list:
        filepath = os.path.join(directory, file)
        root = ET.parse(filepath).getroot()
        df = df.append(dict(zip(columns,[root[0][0][0][path[i]].attrib[attributes[i]] for i in range(len(columns))])),ignore_index=True)
    return df

processes = import_xml_batch(lcaDataPath,['Product','Location','Type'],[0,1,0],['name','location','generalComment'])

In [77]:
#result = len(root[0][1].getchildren())\
# count = sum(1 for _ in root[0][1].iter())
# count

   Product Location                       Type
0  mercury      GLO  This is a market activity

In [10]:
# Filter dataframe for non market activities
processes[~ processes['Type'].str.contains('market')].sort_values('Product')

,Product,Location,Type
241,barite,RoW,This dataset has been copied from an original ...
249,barite,BR,This dataset refers to the production of 1 kg ...
142,bauxite,GLO,Average moisture content of bauxite is approxi...
114,bulk lead-zinc concentrate,GLO,"The multi-output ""zinc mine operation"" process..."
224,"calcium carbonate, precipitated",CN-SC,For the separation and refining of rare earth ...
...,...,...,...
51,zinc concentrate,CA-QC,From metal containing ore extraction from the ...
134,zinc concentrate,PE,"This dataset describes the exploitation, conce..."
226,"zircon, 50% zirconium",ZA,Heavy mineral sands are a class of ore deposit...
108,"zircon, 50% zirconium",RoW,This dataset refers to the production of 1 kg ...
192,"zircon, 50% zirconium",AU,This dataset refers to the production of 1 kg ...

In [61]:
# Read in impact factors
def read_xml_attributes(filepath,branches,attributes):
    df = pd.DataFrame([],columns=attributes)
    tree_loc = ET.parse(filepath).getroot()
    for branch in branches:
        for num,val in enumerate([branch in i.tag for i in tree_loc]):
            if val:
                if branch is branches[-1]:
                    df = df.append(dict(zip(attributes,[tree_loc[num].attrib[i] for i in attributes])),ignore_index=True)
                else:
                    tree_loc=tree_loc[num]
                    break
    return df

impacts = read_xml_attributes(impactMethods,['dataset','flowData','exchange'],['name','category','subCategory','meanValue'])

In [62]:
impacts.sort_values('name')

,name,category,subCategory,meanValue
56,"Carbon dioxide, fossil",Emission to air,unspecified,1.0
45,"Carbon dioxide, fossil",Emission to air,low population density,1.0
164,"Carbon dioxide, fossil",Emission to air,"low population density, long-term",1.0
69,"Carbon dioxide, fossil",Emission to air,lower stratosphere + upper troposphere,1.0
19,"Carbon dioxide, fossil",Emission to air,high population density,1.0
...,...,...,...,...
189,Sulfur hexafluoride,Emission to air,lower stratosphere + upper troposphere,23506.81999316
79,Sulfur hexafluoride,Emission to air,"low population density, long-term",23506.81999316
44,Sulfur hexafluoride,Emission to air,low population density,23506.81999316
3,Sulfur hexafluoride,Emission to air,unspecified,23506.81999316
199,"VOC, volatile organic compounds, unspecified o...",Emission to air,unspecified,4.5

,name,category,subCategory,meanValue
56,"Carbon dioxide, fossil",Emission to air,unspecified,1.0
45,"Carbon dioxide, fossil",Emission to air,low population density,1.0
164,"Carbon dioxide, fossil",Emission to air,"low population density, long-term",1.0
69,"Carbon dioxide, fossil",Emission to air,lower stratosphere + upper troposphere,1.0
19,"Carbon dioxide, fossil",Emission to air,high population density,1.0
...,...,...,...,...
189,Sulfur hexafluoride,Emission to air,lower stratosphere + upper troposphere,23506.81999316
79,Sulfur hexafluoride,Emission to air,"low population density, long-term",23506.81999316
44,Sulfur hexafluoride,Emission to air,low population density,23506.81999316
3,Sulfur hexafluoride,Emission to air,unspecified,23506.81999316
199,"VOC, volatile organic compounds, unspecified o...",Emission to air,unspecified,4.5

In [ ]:
# Display data

In [ ]:
# Get data form all files into database

In [ ]:
# Graph it up baby