In [168]:
# Import packages
import pandas as pd
import os
import xml.etree.ElementTree as ET

# Variable definition
lcaDataPath = "C:/Users\lukec\OneDrive - University of Cambridge\Projects\PhD\Data\EcoInvent_B0729/xml"

In [175]:
# Load in xml data to dataframe
def import_xml_batch(directory,columns,path,attributes):
    """This function imports xml data into a pandas dataframe
    inputs:
    filepath - directory of xml files
    columns - names of columns for dataframe
    attributes - location of column attributes within xml files
    outputs:
    processes - dataframe of requested attributes
    Requirements: os, pandas as pd, xml.etree.ElementTree as ET"""
    file_list = os.listdir(directory)
    processes = pd.DataFrame([],columns=[columns])
    for file in file_list:
        filepath = os.path.join(directory, file)
        root = ET.parse(filepath).getroot()
        processes = processes.append(dict(zip([j for j in columns],[root[0][0][0][path[i]].attrib[attributes[i]] for i in range(len(columns))])),ignore_index=True)
    return processes

processes = import_xml_batch(lcaDataPath,['Product','Location','Type'],[0,1,0],['name','location','generalComment'])

In [77]:
#result = len(root[0][1].getchildren())\
# count = sum(1 for _ in root[0][1].iter())
# count

   Product Location                       Type
0  mercury      GLO  This is a market activity

In [176]:
# Filter dataframe for non market activities
processes[~ processes['Type'].str.contains('market')]

,"(Product,)","(Location,)","(Type,)",Location,Product,Type
1,NaN,NaN,NaN,GLO,"copper concentrate, sulfide ore",This dataset represents the joint production o...
3,NaN,NaN,NaN,CA-QC,"iron scrap, unsorted",This dataset describes the production of gold ...
4,NaN,NaN,NaN,AU,"copper concentrate, sulfide ore","""For the mining and beneficiation of copper su..."
7,NaN,NaN,NaN,RoW,holmium oxide,For the processing of rare earth carbonates (e...
10,NaN,NaN,NaN,CL,silver,This dataset describes the joint production of...
...,...,...,...,...,...,...
248,NaN,NaN,NaN,RoW,"tantalum concentrate, 30% Ta2O5",This dataset refers to the global average mini...
249,NaN,NaN,NaN,BR,barite,This dataset refers to the production of 1 kg ...
250,NaN,NaN,NaN,CN-FJ,gadolinium oxide,For the processing of rare earth carbonates (e...
252,NaN,NaN,NaN,CN-NM,samarium-europium-gadolinium oxide,This dataset refers to the extraction and refi...
253,NaN,NaN,NaN,GLO,mercury,The functional unit represent 1 kg of liquid m...

In [ ]:
# Display data

In [ ]:
# Get data form all files into database

In [ ]:
# Graph it up baby