In [72]:
import pandas as pd
import numpy as np

In [73]:
file = "C:/Users\lukec\OneDrive - University of Cambridge\Projects\PhD\Data\IHS\Ethylene\ETHYLENE FROM WIDE RANGE NAPHTHA, MAXIMUM ETHYLENE, FRONT END DEMETHANIZER - Germany.xlsx"

In [ ]:
properties = ['RAW MATERIALS', 'BY-PRODUCT CREDITS', 'UTILITIES']

In [30]:
sheet = pd.read_excel(file,skipfooter=22)

In [175]:
headerLines = 5
colNum = 6
materials = sheet[headerLines:][sheet.columns[:colNum]]
materials.columns = ['Material'] + list(materials.iloc[0][1:].values)
materials.columns = list(map(lambda x: 'Unit' if x is np.nan else x, materials.columns.values))
materials.dropna(subset=[materials.columns[0]], inplace=True)

typesInd = [0] + list(np.where(materials.index[1:] - materials.index[:-1] != 1)[0]+1)
materials['Type'] = list(map(lambda x: materials.Material.values[typesInd[np.sum(np.array(typesInd) < x+1)-1]], range(len(materials))))
materials.dropna(subset=materials.columns[1:-1], how='all', inplace=True)

In [176]:
materials
# np.where(np.array(materials[materials.columns[0]]) is np.nan)

,Material,Unit Cost,Unit,Unit Consumption,Unit,Product Cost,Type
9,CATALYST AND CHEMICALS,NaN,NaN,NaN,NaN,1.051605,RAW MATERIALS
10,NAPHTHA,66.790014,¢/KG,3.13079,TONNE,NaN,RAW MATERIALS
13,C4 FRACTION8,80.424633,¢/KG,-0.34879,TONNE,NaN,BY-PRODUCT CREDITS
14,FUEL GAS,6.563179,¢/MMCAL,-6994.67782,MMCAL,NaN,BY-PRODUCT CREDITS
15,FUEL OIL.,3.963287,¢/MMCAL,-1720.15038,MMCAL,NaN,BY-PRODUCT CREDITS
16,HYDROGEN (95 VOL%),21.276446,¢/NM3,-386.88141,NM3,NaN,BY-PRODUCT CREDITS
17,"PROPYLENE, POLYMER GRADE",135.738615,¢/KG,-0.51044,TONNE,NaN,BY-PRODUCT CREDITS
18,PYROLYSIS GASOLINE,71.968401,¢/KG,-0.5488,TONNE,NaN,BY-PRODUCT CREDITS
21,COOLING WATER,6.419384,¢/M3,78.00029,M3,NaN,UTILITIES
22,ELECTRICITY,12.37,¢/KWH,114.00104,KWH,NaN,UTILITIES
23,NATURAL GAS,6.563179,¢/MMCAL,6514.91252,MMCAL,NaN,UTILITIES
24,PROCESS WATER,46.758475,¢/M3,2.29999,M3,NaN,UTILITIES