In [1]:
import pandas as pd
import numpy as np
import win32com.client
import time

In [47]:
file = "C:/Users\lukec\OneDrive - University of Cambridge\Projects\PhD\Data\IHS\Ethylene\ETHYLENE FROM WIDE RANGE NAPHTHA, MAXIMUM ETHYLENE, FRONT END DEMETHANIZER - Germany.xlsx"
footer = 11
headerLines = 5
colSep = 6

In [52]:
def refresh_excel_file(file:str, pause=False):
    # Refresh Excel file to have numbers for formula cells
    xlapp = win32com.client.DispatchEx("Excel.Application")
    wb = xlapp.Workbooks.Open(file)
    wb.RefreshAll()
    if pause: time.sleep(pause)
    wb.Save()
    wb.Close()
    xlapp.Quit()
    return file

In [55]:
def excel_multilayer_table_extract(df, dataType='Attribute', header=0, colStart=0, colEnd=-1):
    data = df[header:][df.columns[colStart:colEnd]]
    data.columns = [dataType] + list(data.iloc[0][1:].values)
    data.columns = list(map(lambda x: 'Unit' if x is np.nan else x, data.columns.values))
    data.dropna(subset=[data.columns[0]], inplace=True)

    typesInd = [0] + list(np.where(data.index[1:] - data.index[:-1] != 1)[0]+1)
    data['Type'] = list(map(lambda x: data[dataType].values[typesInd[np.sum(np.array(typesInd) < x+1)-1]], range(len(data))))
    data.dropna(subset=data.columns[1:-1], how='all', inplace=True)
    return data

In [91]:
# Import sheet
sheet = pd.read_excel(refresh_excel_file(file),skipfooter=footer)
materials = excel_multilayer_table_extract(sheet, dataType='Material', header=headerLines, colEnd=colSep)
cost = excel_multilayer_table_extract(sheet, dataType='Cost', header=headerLines, colStart=colSep+1)
properties = list(map(lambda x: x.strip(), sheet.loc[2][0].split(",")))
properties = dict(map(lambda x: x.split(": "), properties))

In [92]:
properties

{'Geography': 'Germany',
 'Product': 'ETHYLENE',
 'PEP Cost Index': '1087',
 'Price': '135.83 ¢/KG',
 'Code': '2M-1622',
 'Location Factor': '1.06 (1US $ = 0.85)',
 'Data version': '2021 Q3',
 'Research Year': '2014'}

In [93]:
materials

,Material,Unit Cost,Unit,Unit Consumption,Unit,Product Cost,Type
8,RAW MATERIALS,NaN,NaN,NaN,NaN,210.157112,RAW MATERIALS
9,CATALYST AND CHEMICALS,NaN,NaN,NaN,NaN,1.051605,RAW MATERIALS
10,NAPHTHA,66.790014,¢/KG,3.13079,TONNE,209.105507,RAW MATERIALS
12,BY-PRODUCT CREDITS,NaN,NaN,NaN,NaN,-197.790217,BY-PRODUCT CREDITS
13,C4 FRACTION8,80.424633,¢/KG,-0.34879,TONNE,-28.051308,BY-PRODUCT CREDITS
14,FUEL GAS,6.563179,¢/MMCAL,-6994.67782,MMCAL,-45.90732,BY-PRODUCT CREDITS
15,FUEL OIL.,3.963287,¢/MMCAL,-1720.15038,MMCAL,-6.81745,BY-PRODUCT CREDITS
16,HYDROGEN (95 VOL%),21.276446,¢/NM3,-386.88141,NM3,-8.231461,BY-PRODUCT CREDITS
17,"PROPYLENE, POLYMER GRADE",135.738615,¢/KG,-0.51044,TONNE,-69.286419,BY-PRODUCT CREDITS
18,PYROLYSIS GASOLINE,71.968401,¢/KG,-0.5488,TONNE,-39.496259,BY-PRODUCT CREDITS
20,UTILITIES,NaN,NaN,NaN,NaN,44.776985,UTILITIES
21,COOLING WATER,6.419384,¢/M3,78.00029,M3,0.500714,UTILITIES
22,ELECTRICITY,12.37,¢/KWH,114.00104,KWH,1.410193,UTILITIES
23,NATURAL GAS,6.563179,¢/MMCAL,6514.91252,MMCAL,42.758534,UTILITIES
24,PROCESS WATER,46.758475,¢/M3,2.29999,M3,0.107544,UTILITIES

In [94]:
cost

,Cost,Capacity,NaN,Type
8,"INVESTMENT, US$ MILLION",1870.061319,2954.851395,"INVESTMENT, US$ MILLION"
9,BATTERY LIMITS,1280.105202,2022.671987,"INVESTMENT, US$ MILLION"
10,OFF SITES,589.956117,932.179409,"INVESTMENT, US$ MILLION"
13,RAW MATERIALS,210.157112,210.157112,"PRODUCTION COSTS, US ¢/KG"
14,BY PRODUCT CREDITS,-197.790217,-197.790217,"PRODUCTION COSTS, US ¢/KG"
15,UTILITIES,44.776985,44.776985,"PRODUCTION COSTS, US ¢/KG"
16,VARIABLE COSTS,57.143881,57.143881,"PRODUCTION COSTS, US ¢/KG"
17,MAINTENANCE MATERIALS,6.143454,4.853582,"PRODUCTION COSTS, US ¢/KG"
18,OPERATING LABOR (11.0/SHIFT),1.502188,0.751094,"PRODUCTION COSTS, US ¢/KG"
19,OPERATING SUPPLIES,0.150219,0.075109,"PRODUCTION COSTS, US ¢/KG"
20,MAINTENANCE LABOR,4.095636,3.235721,"PRODUCTION COSTS, US ¢/KG"
21,CONTROL LABORATORY,0.300438,0.150219,"PRODUCTION COSTS, US ¢/KG"
22,TOTAL DIRECT COSTS,69.335815,66.209607,"PRODUCTION COSTS, US ¢/KG"
23,PLANT OVERHEAD,4.718609,3.309627,"PRODUCTION COSTS, US ¢/KG"
24,TAXES AND INSURANCE,7.478965,5.908691,"PRODUCTION COSTS, US ¢/KG"
25,PLANT CASH COSTS,81.533389,75.427925,"PRODUCTION COSTS, US ¢/KG"
26,DEPRECIATION,37.394825,29.543457,"PRODUCTION COSTS, US ¢/KG"
27,PLANT GATE COST,118.928214,104.971382,"PRODUCTION COSTS, US ¢/KG"
28,"G + A, SALES, RES., 5.00%",9.211603,7.857188,"PRODUCTION COSTS, US ¢/KG"
31,AT 100% CAPACITY,128.139817,112.828570,PRODUCTION COSTS
32,AT 75% CAPACITY,151.805128,131.390133,PRODUCTION COSTS
33,AT 50% CAPACITY,199.135752,168.513259,PRODUCTION COSTS
35,AT 100% CAPACITY,184.232055,157.143755,PRODUCTION COSTS
36,AT 75% CAPACITY,226.594779,190.477046,PRODUCTION COSTS
37,AT 50% CAPACITY,311.320228,257.143629,PRODUCTION COSTS